.header {
  /* border-bottom: 1px solid rgba(88, 86, 86, 0.933); */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: var(--black);
  transition: 0.5s;
}

.border {
  box-shadow: 0 5px 10px rgba(51, 48, 48, 0.5);
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
  padding-block: 24px;
}

.logo {
  display: inline-block;
  width: 278px;
  height: 60px;
  cursor: pointer;
}

.header_nav,
.secondary_div {
  display: flex;
  align-items: center;
  gap: 40px;
}

.tipa_link {
  background-color: unset;
  border: none;
  font-size: 18px;
  line-height: 32px;
  color: var(--white);
  cursor: pointer;
  height: 100%;
  position: relative;
  transition: 0.3s;
}

.tipa_link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: var(--red);
  opacity: 0;
  transition: 0.3s;
}

.tipa_link:hover::after {
  opacity: 1;
  transition: 0.3s;
}

.tipa_link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2.5px;
  opacity: 1;
  background-color: var(--red);
}

.extra_div {
  display: flex;
  align-items: center;
  gap: 32px;
}

.current_lang {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  position: relative;
}

.current_lang:hover .dropdown {
  opacity: 1;
  transition: 0.5s;
}

.dropdown {
  position: absolute;
  top: 30px;
  left: -20px;
  width: 80px;
  background-color: var(--white);
  opacity: 0;
  transition: 0.5s;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}

.dropdown_menu a {
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  transition: 0.3s;
}

.dropdown_menu a:first-child {
  border-bottom: 1px solid #c2c3c3;
}

.dropdown_menu a:hover {
  color: var(--red) !important;
  transition: 0.3s;
}

.current_lang svg {
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.current_lang:hover svg {
  transform: rotate(180deg);
  transition: 0.3s;
}

.hamburger {
  display: none;
  flex-direction: column;
  width: 22px;
  height: 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 22px;
  height: 1.5px;
  background-color: var(--white);
}

@media (max-width: 1200px) {
  .header_nav {
    gap: 32px;
  }
}

@media (max-width: 880px) {
  .header_nav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .logo {
    width: 155px;
    height: 34px;
  }
  .current_lang {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 400px) {
  .extra_div {
    gap: 24px;
  }
}
